<div class="video-card card">
  <h2>On dirais bien que c'est pas un jour comme les autres!</h2><br>
  <video controls src="../../assets/videos/lucas.mp4"></video>
  <pre style="white-space:pre-wrap">
Coucou Luluuuuuuuuu! Alors par ou commencer?<br>
Je pense que je vais pas beaucoup écrire ici pour te le dire en vrai se soir.<br>
Donc sache juste que je t'aime du plus profond de mon coeur, tu t'en rends compte? On se connaissais pas il y a 1 an,
a chaque fois que je me dit ça je suis choqué de voir a quel point en 1 an j'ai pu rattrapter tes 18 ans d'existence,
et m'assurer que ce qui reste je vais le passer avec toi!<br>
Pour résumer, AMUSE TOI!!!!! C'est ton jour aujourd'hui alors profite :)❤️
  </pre>
</div>
